# gitignore file so i don't upload state data to github

# Compiled files
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
# Module directory
.terraform.lock.hcl
.terraform/
notused/
*.zip
*/myimage.tar.gz
